@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";
.nav-item {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  cursor: pointer;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: darkblue;
  transition: width 0.3s ease;
}

.nav-item:hover::after,
.nav-item.active::after {
  width: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.slide-in {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.slide-in.visible {
  transform: translateX(0);
}

/* App.css */
.opacity-0 {
  opacity: 0;
}

.transform {
  transform: translateY(12px);
}

.nav-pattern {
  background-image: url(./assets/header-pattern.svg);
  background-repeat: repeat-x;
  height: 18px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  opacity: 0.5;
}
