@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";
.nav-item {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  cursor: pointer;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: darkblue;
  transition: width 0.3s ease;
}

.nav-item:hover::after,
.nav-item.active::after {
  width: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.slide-in {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.slide-in.visible {
  transform: translateX(0);
}

/* App.css */
.opacity-0 {
  opacity: 0;
}

.transform {
  transform: translateY(12px);
}

/* Landing page  */
.nav-pattern {
  background-image: url(./images/header-pattern.svg);
  background-repeat: repeat-x;
  height: 18px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  opacity: 0.5;
}
.foot-main{
  position: relative;
}
.foot-pattern {
  background-image: url(/src/images/footer-pattern.svg);
  background-repeat: repeat-x;
  height: 18px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: contain;
  opacity: 0.5;
}
.yt{
  background-image: url(/src/assets/yt.svg);
}
.insta{
  background-image: url(/src/assets/insta.svg);
}
.fb{
  background-image: url(/src/assets/fb.svg);

}
.yt, .insta , .fb{
  filter: invert(52%) sepia(76%) saturate(528%) hue-rotate(0deg) brightness(101%) contrast(102%);
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  /* box-shadow: 0 0 10px #FFF; */
}
.yt:hover,
.insta:hover,
.fb:hover{
  scale: 1.1;
  transition: .4s;
  
}
.orange-border{
  background: #781102;
  border-top: 1px solid #f6961d;
  color: #f6961d; /* Optional: match the text color with the border */
  padding: 10px; /* Optional: for better spacing */
}
.flower-pattern{
  background-image: url(/src/images/flower-pattern.svg);
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  left: 0;
  padding: 17px;
  background-size: contain;
  /* opacity: 0.5; */
}

.chakra{
  background-image: url(/src/images/chakra.svg);
}

.base{
  background-image: url(/src/images/base.svg);
}

.aasan{
  background-image: url(/src/images/aasan.svg);
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Events page */
.top-pattern {
  background-image: url(./images/header-pattern.svg);
  background-repeat: repeat-x;
  height: 18px;
  width: 100%;  
  left: 0;
  background-size: contain;
  opacity: 0.5;
}
/* .events-page {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.section-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #666;
}

.event-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; 
}
.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
}

.feature p {
  font-size: 1rem;
  color: #444;
}

.feature:hover {
  transform: translateY(-10px); 
} */